@model System.Web.Mvc.HandleErrorInfo

@{
    //Elmah.ErrorSignal.FromCurrentContext().Raise(Model.Exception);
    
    ViewBag.Title = "Error 404";

    }

<hgroup>
    <h1 class="text-danger">Error 404.</h1>
    <h2 class="text-danger">The requested page not found. Please review the url.</h2>
</hgroup>
